<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>GWS Mr Beertino</title>
</head>

<div class="carousel-container">
  <div class="carousel-track">
    <div class="carousel-item">Message 1: Welcome to the ride!</div>
    <div class="carousel-item">Message 2: Enjoy the carousel vibes.</div>
    <div class="carousel-item">Message 3: Spin around and smile!</div>
    <div class="carousel-item">Message 4: Thanks for visiting.</div>
  </div>
  <button id="prevBtn">&#8592;</button>
  <button id="nextBtn">&#8594;</button>
</div>



</html>